.appointment-container {
  width: 300px;
  min-height: 125px;
  filter: drop-shadow(2px 3px 3px #000000);
  border-radius: 10px;
  border: 2px solid #8e604a;
  background-color: #edcfc0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif !important;
  user-select: none;

  .appointment-header {
    width: 100%;
    background-color: #edf2f8;
    border-bottom: 2px solid #8e604a;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    filter: drop-shadow(2px 3px 3px #8e604a);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    color: #8e604a;
  }

  .apointment-content {
    width: 100%;
    height: 125px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    #done > p {
      text-decoration: line-through;
    }

    .appointment {
      display: flex;
      width: 95%;
      align-items: center;
      justify-content: space-between;
      color: #8e604a;
      p {
        padding: 0;
        margin: 0;
        font-weight: 600;
      }

      .crud-icon-wrapper {
        display: flex;

        .icon {
          padding: 2px;
        }

        .icon:active {
          color: #edf2f8;
        }
      }
    }

    .add-icon-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      color: #edcfc0;
      background-color: #edf2f8;
    }
  }
}
