.edit-modal-container {
    width: 100%;
    height: 100%;
    position: fixed;
    inset: 0;
    top: 0;
    background-color: rgba(128, 128, 128, 0.5);
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Edu AU VIC WA NT Hand", cursive !important;
    letter-spacing: 1px;

    .edit-modal-content {
        width: 300px; 
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #A67EBE;
        border: 2px solid #6A2E86;
        border-radius: 20px;
        padding: 20px;
        position: relative;
        overflow: hidden;

        .edit-modal-heading {
            height: 30px;
            background-color: #C9C0ED;
            width: calc(100% + 40px); 
            position: sticky;
            top: -20px; 
            margin-top: -20px; 
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #6A2E86;
            z-index: 1; 
        }

        .edit-modal-form {
            margin-top: 15px;
            margin-bottom: 15px;
            width: 100%;
            height: calc(100% - 70px); 
            display: flex;
            flex-direction: column;
            gap: 10px;

            .edit-form-group {
                display: flex;
                justify-content: space-between;
                width: 100%;

                label.titles {
                    color: #C9C0ED;
                    margin-bottom: 5px;
                }

                textarea, input {
                    width: 180px;
                    height: 35px;
                    padding: 5px;
                    border: 1px solid #6A2E86;
                    border-radius: 5px;
                    font-family: inherit;
                    box-sizing: border-box; 
                    resize: vertical; 
                    background-color: #ffffff;
                }

                textarea {
                    height: 35px; 
                    overflow: auto; 
                    white-space: pre-wrap; 
                }
            }
        }

        .edit-modal-buttons-wrapper {
            width: 100%;
            display: flex;
            justify-content: center;
            gap: 10px;
            margin-top: 10px; 

            button {
                background-color: #C9C0ED;
                color: #6A2E86;
                border-radius: 10px;
                width: 100px;
                height: 50px;
                font-size: 16px;
                border-color: #6A2E86;
                border-width: 1px;
                filter: drop-shadow(2px 3px 3px #000000);
                text-align: center;
                cursor: pointer;
            }
        }
    }
}
