.modal-container {
  width: 100%;
  height: 100%;
  position: fixed;
  overflow-y: scroll;
  inset: 0;
  top: 0;
  background-color: rgba(128, 128, 128, 0.5);
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Edu AU VIC WA NT Hand", cursive !important;
  letter-spacing: 1px;

  .modal-content {
    min-width: 80vw;
    background-color: #be917e;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    border: 2px solid #8e604a;
    padding-top: 40px;
    gap: 10px;
    padding-bottom: 10px;

    .client-modal-content {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 5px;
      color: #d9d9d9;
      padding-bottom: 20px;
    }

    .modal-form {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 10px;

      .form-group {
        width: 90%;
        height: fit-content;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #d9d9d9;
        input,
        select,
        textarea,
        option {
          height: 30px !important;
          width: 200px !important;
          border-radius: 5px !important;
          border: 2px solid #d9d9d9 !important;
          padding: 0;
          background-color: white;
          font-family: "Edu AU VIC WA NT Hand", cursive !important;
        }

        select,
        option {
          width: 204px !important;
          height: 34px !important;
        }
      }
    }

    .modal-heading {
      height: 30px;
      background-color: #d9d9d9;
      width: 100%;
      position: absolute;
      top: 0;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #8e604a;
    }

    p {
      width: 70%;
      text-align: center;
      color: #d9d9d9;
      margin: 0;
      padding: 0;
    }

    .modal-buttons-wrapper {
      display: flex;
      gap: 10px;
      width: 70%;
      justify-content: space-between;
      align-items: center;

      button {
        background-color: #d9d9d9;
        color: #8e604a;
        border-radius: 10px;
        width: 100%;
        height: 50px;
        margin: 0;
        font-size: 16px;
        border-color: #8e604a;
        border-width: 1px;
        filter: drop-shadow(2px 3px 3px #000000);
        text-align: center;
      }
    }
  }
}
