.profile-modal-container {
  width: 100%;
  height: 100%;
  position: fixed;
  overflow-y: scroll;
  inset: 0;
  top: 0;
  background-color: rgba(128, 128, 128, 0.5);
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Edu AU VIC WA NT Hand", cursive !important;
  letter-spacing: 1px;

  .profile-modal-content {
    width: 300px;
    height: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: #A67EBE;
    border: 2px solid #6A2E86;
    border-radius: 20px;
    padding: 20px;
    position: relative;
    overflow: hidden;

    .profile-modal-heading {
      height: 30px;
      background-color: #C9C0ED;
      width: calc(100% + 40px);
      position: sticky;
      top: -20px;
      margin-top: -20px;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #6A2E86;
      z-index: 1;
    }

    .profile-modal-text-container {
      display: flex;
      flex-direction: column;
      gap: 5px;
      color: #C9C0ED;
      width: 100%;
      overflow-y: auto;
      max-height: calc(100% - 80px);

      .profile-content-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        gap: 20px;

        .titles {
          flex: 0 0 30%;
          color: #C9C0ED;
          text-align: left;
          
        }

        .description {
          flex: 1;
          color: #ffffff;
          word-wrap: break-word;
          word-break: break-word;
          text-align: left;
        }
      }
    }

    .profile-modal-buttons-wrapper {
      width: 100%;
      display: flex;
      justify-content: center;
      margin-top: auto; /* Dodato */
      position: absolute;
      bottom: 20px; /* Razmak od dna */
      left: 0;
      right: 0;

      button {
        background-color: #C9C0ED;
        color: #6A2E86;
        border-radius: 10px;
        width: 100px;
        height: 50px;
        font-size: 16px;
        border-color: #6A2E86;
        border-width: 1px;
        filter: drop-shadow(2px 3px 3px #000000);
        text-align: center;
      }
    }
  }
}
