body{
    background-color: #E8E8E8;
    margin: 0;
    padding: 0;
}

.customers-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding-top: 20px;
  
}

.customers-title-container{
    font-family: "Edu AU VIC WA NT Hand", cursive;
    color: #8E604A;
    font-size: 50px;
    font-weight: bold;
    filter: drop-shadow(1px 1px 1px #000000);
}