.home-container {
    width: 100%;
    display: flex;
    height: fit-content;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    position: relative;
    padding-bottom: 60px;
}

.appointments-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.left-swipe, .right-swipe {
    height: 100vh;
    width: 50px;
    background-color: aqua;
}
