.navBar-container {
 position: fixed;
 bottom: 0px;
 width: 100vw;
 background-color: #6A2E86;
 display: flex;
 align-items: center;
 justify-content: center;
 color: white;
 height: 50px;
 z-index: 3;
 cursor: pointer;
 user-select: none !important;
 

 button {
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
 }

 button:active {
    color: #6A2E86 !important;
 }
}
