.navBar-container {
 position: fixed;
 bottom: 0px;
 width: 100vw;
 background-color: #8E604A;
 display: flex;
 align-items: center;
 justify-content: center;
 gap: 20px;
 color: white;
 height: 100px;
}
