body {
  margin: 0;
  padding: 0;
  background-color: #FFEDFE;
  font-family: "Edu AU VIC WA NT Hand", cursive !important;
  box-sizing: border-box;
}

.statistics-container-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding-top: 20px;
  padding-bottom: 70px;

  .generated-content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
  }

  .statistics-title-container {
    color: #6A2E86;
    font-size: 50px;
    filter: drop-shadow(1px 1px 1px #000000);
    text-align: center;
  }

  .date-inputs-container {
    display: flex;
    justify-content: center;
    gap: 15px;
    width: 100%;
    max-width: 350px;

    .start-date-input-container,
    .end-date-input-container {
      width: 130px;
      height: 35px;
      padding: 5px;
      border: 1px solid #6A2E86;
      border-radius: 5px;
      font-family: inherit;
      box-sizing: border-box;
      resize: vertical;
      background-color: #ffffff;
    }
  }

  .generate-button {
    width: 100px;
    height: 35px;
    display: block;
    margin: 0 auto;
  }
}

table {
  width: 100%;
  max-width: 350px;
  border-collapse: collapse;
  margin: 0 auto;
}

th,
td {
  border: 1px solid #6A2E86;
  text-align: center;
  padding: 8px;
}

th {
  background-color: #6A2E86;
  color: #FFEDFE;
  font-size: 16px !important;
}

td {
  background-color: #C9C0ED;
  color: #6A2E86;
  font-size: 16px !important;
}

.print-button {
  width: 100px;
  height: 35px;
  display: block;
  margin: 0 auto;
}
